<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag user.get_profile_image(100,100), class:"attachment user profile_image" %><br>
      <table class="table">
        <tbody>
          <tr>name</tr>
          <tr><%= user.name %></tr><br>
          <tr>introduction</tr>
          <tr><%= user.introduction %></tr>
        </tbody>
      </table>
      <div class="row">
        <%= link_to"編集ページ", edit_user_path(user), class: "btn btn-outline-secondry btn-block" %>
      </div>